
/*
	DG Percentage Grid System
************************************************/



/*
	Border box reset, dee http://www.paulirish.com/2012/box-sizing-border-box-ftw/
	Includes prefixes for older browsers
*/
html
{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, *:before, *:after
{
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}



/*
	Main containter
	Defines maximum page width
 */
.container
{
max-width:120rem; 
margin:0 auto;
}



/*
	Row container
 */ 
.row
{
width:100%;
clear:both;
}

/* row clearfix */ 
.row:before 
,.row:after
{
content:"";
display: table ;
clear:both;
}



/* 
	Structural column widths 
	Defined as fractions 
*/



/*  1/2's */
.w_1_2{width: 50.0000%;}
.clearfull .w_1_2:nth-child(2n+3) {clear:left;}


/*  1/3's */
.w_1_3{width: 33.3333%;}
.w_2_3{width: 66.6667%;}
.clearfull .w_1_3:nth-child(3n+4) {clear:left;}


/*  1/4's */
.w_1_4{width: 25.0000%;}
.w_2_4{width: 50.0000%;}
.w_3_4{width: 75.0000%;}
.clearfull .w_1_4:nth-child(4n+5) {clear:left;}


/*  1/5's */
.w_1_5{width: 20.0000%;}
.w_2_5{width: 40.0000%;}
.w_3_5{width: 60.0000%;}
.w_4_5{width: 80.0000%;}
.clearfull .w_1_5:nth-child(5n+6) {clear:left;}


/*  1/6's */
.w_1_6{width: 16.6667%;}
.w_2_6{width: 33.3333%;}
.w_3_6{width: 50.0000%;}
.w_4_6{width: 66.6667%;}
.w_5_6{width: 83.3333%;}
.clearfull .w_1_6:nth-child(6n+7) {clear:left;}


/*  1/8's */
.w_1_8{width: 12.5000%;}
.w_2_8{width: 25.0000%;}
.w_3_8{width: 37.5000%;}
.w_4_8{width: 50.0000%;}
.w_5_8{width: 62.5000%;}
.w_6_8{width: 75.0000%;}
.w_7_8{width: 87.5000%;}
.clearfull .w_1_8:nth-child(8n+9) {clear:left;}


/*  1/9's */
.w_1_9{width: 11.1111%;}
.w_2_9{width: 22.2222%;}
.w_3_9{width: 33.3333%;}
.w_4_9{width: 44.4444%;}
.w_5_9{width: 55.5556%;}
.w_6_9{width: 66.6667%;}
.w_7_9{width: 77.7778%;}
.w_8_9{width: 88.8889%;}
.clearfull .w_1_9:nth-child(9n+10) {clear:left;}


/*  1/10's */
.w_1_10{width: 10.0000%;}
.w_2_10{width: 20.0000%;}
.w_3_10{width: 30.0000%;}
.w_4_10{width: 40.0000%;}
.w_5_10{width: 50.0000%;}
.w_6_10{width: 60.0000%;}
.w_7_10{width: 70.0000%;}
.w_8_10{width: 80.0000%;}
.w_9_10{width: 90.0000%;}
.clearfull .w_1_10:nth-child(10n+11) {clear:left;}


/*  1/12's */
.w_1_12{width: 8.3333%;}
.w_2_12{width: 16.6667%;}
.w_3_12{width: 25.0000%;}
.w_4_12{width: 33.3333%;}
.w_5_12{width: 41.6667%;}
.w_6_12{width: 50.0000%;}
.w_7_12{width: 58.3333%;}
.w_8_12{width: 66.6667%;}
.w_9_12{width: 75.0000%;}
.w_10_12{width: 83.3333%;}
.w_11_12{width: 91.6667%;}
.clearfull .w_1_12:nth-child(12n+13) {clear:left;}


/*  1/16's */
.w_1_16{width: 6.2500%;}
.w_2_16{width: 12.5000%;}
.w_3_16{width: 18.7500%;}
.w_4_16{width: 25.0000%;}
.w_5_16{width: 31.2500%;}
.w_6_16{width: 37.5000%;}
.w_7_16{width: 43.7500%;}
.w_8_16{width: 50.0000%;}
.w_9_16{width: 56.2500%;}
.w_10_16{width: 62.5000%;}
.w_11_16{width: 68.7500%;}
.w_12_16{width: 75.0000%;}
.w_13_16{width: 81.2500%;}
.w_14_16{width: 87.5000%;}
.w_15_16{width: 93.7500%;}
.clearfull .w_1_16:nth-child(16n+17) {clear:left;}




/*
	Column width defaults 
	Match selectors starting with w_ and containing w_
*/ 
[class^='w_'], [class*=' w_']
{
float: left;
min-height: 1px; /* stop empty columns stacking */
}